# –ê–Ω–∞–ª–∏–∑ –¥–∞–Ω–Ω—ã—Ö —Å –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏–µ–º Python

–≠—Ç–æ—Ç notebook –ø—Ä–µ–¥–Ω–∞–∑–Ω–∞—á–µ–Ω –¥–ª—è –∞–Ω–∞–ª–∏–∑–∞ –¥–∞–Ω–Ω—ã—Ö –≤ —Ñ–∞–π–ª–µ `car_sales_cleaned1.xlsx`

In [ ]:
# –ò–º–ø–æ—Ä—Ç –Ω–µ–æ–±—Ö–æ–¥–∏–º—ã—Ö –±–∏–±–ª–∏–æ—Ç–µ–∫
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

print("–ë–∏–±–ª–∏–æ—Ç–µ–∫–∏ —É—Å–ø–µ—à–Ω–æ –∏–º–ø–æ—Ä—Ç–∏—Ä–æ–≤–∞–Ω—ã!")

In [28]:
# –ó–∞–≥—Ä—É–∑–∫–∞ –¥–∞–Ω–Ω—ã—Ö
df = pd.read_excel('car_sales_cleaned1.xlsx')
print(f"–î–∞–Ω–Ω—ã–µ –∑–∞–≥—Ä—É–∂–µ–Ω—ã. –†–∞–∑–º–µ—Ä: {df.shape}")
df.shape

–î–∞–Ω–Ω—ã–µ –∑–∞–≥—Ä—É–∂–µ–Ω—ã. –†–∞–∑–º–µ—Ä: (23906, 1)

(23906, 1)

In [ ]:
# –ò–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ –¥–∞–Ω–Ω—ã—Ö
df.info()

In [3]:
import pandas as pd

# –ó–∞–≥—Ä—É–∂–∞–µ–º Excel
df = pd.read_excel("data.xlsx")

# –°–æ—Ö—Ä–∞–Ω—è–µ–º –∫–∞–∫ CSV
df.to_csv("data.csv", index=False, encoding="utf-8")

print("‚úÖ CSV —Ñ–∞–π–ª —Å–æ–∑–¥–∞–Ω!")

FileNotFoundError: [Errno 2] No such file or directory: 'data.xlsx'

In [4]:
import pandas as pd

# –ó–∞–≥—Ä—É–∂–∞–µ–º Excel
df = pd.read_excel("data.xlsx")

# –°–æ—Ö—Ä–∞–Ω—è–µ–º –∫–∞–∫ CSV
df.to_csv("data.csv", index=False, encoding="utf-8")

print("‚úÖ CSV —Ñ–∞–π–ª —Å–æ–∑–¥–∞–Ω!")

FileNotFoundError: [Errno 2] No such file or directory: 'data.xlsx'

In [5]:
import os
print(os.getcwd())

C:\Users\evgen\Codes\JAVA-60\Python-ai

In [6]:
import os
print(os.listdir())

['.conda', '.ipynb_checkpoints', 'analysis.ipynb', 'car_sales_cleaned1.xlsx']

In [7]:
import pandas as pd

df = pd.read_excel("car_sales_cleaned1.xlsx", engine="openpyxl")
df.head()

  Gender,Annual Income,Company,Model,Transmission,Color,Price ($)
0        Male,13500,Ford,Expedition,Auto,Black,26000
1        Male,1480000,Dodge,Durango,Auto,Black,19000
2    Male,1035000,Cadillac,Eldorado,Manual,Red,31500
3   Male,13500,Toyota,Celica,Manual,Pale White,14000
4               Male,1465000,Acura,TL,Auto,Red,24500

In [8]:
df.to_csv("car_sales_cleaned1.csv", index=False, encoding="utf-8")

In [9]:
import os
print("–§–∞–π–ª —Å–æ–∑–¥–∞–Ω:", os.path.exists("car_sales_cleaned1.csv"))

–§–∞–π–ª —Å–æ–∑–¥–∞–Ω: True

In [10]:
import pandas as pd

# —á–∏—Ç–∞–µ–º CSV, –∫–æ—Ç–æ—Ä—ã–π —Ç—ã —Ç–æ–ª—å–∫–æ —á—Ç–æ —Å–æ—Ö—Ä–∞–Ω–∏–ª
df_csv = pd.read_csv("car_sales_cleaned1.csv")

# –≤—ã–≤–æ–¥–∏–º –ø–µ—Ä–≤—ã–µ —Å—Ç—Ä–æ–∫–∏
df_csv.head()

  Gender,Annual Income,Company,Model,Transmission,Color,Price ($)
0        Male,13500,Ford,Expedition,Auto,Black,26000
1        Male,1480000,Dodge,Durango,Auto,Black,19000
2    Male,1035000,Cadillac,Eldorado,Manual,Red,31500
3   Male,13500,Toyota,Celica,Manual,Pale White,14000
4               Male,1465000,Acura,TL,Auto,Red,24500

In [11]:
import pandas as pd

# –ù–∞—Å—Ç—Ä–æ–π–∫–∏ –æ—Ç–æ–±—Ä–∞–∂–µ–Ω–∏—è
pd.set_option('display.max_rows', 20)       # –ø–æ–∫–∞–∑—ã–≤–∞—Ç—å –º–∞–∫—Å–∏–º—É–º 20 —Å—Ç—Ä–æ–∫
pd.set_option('display.min_rows', 10)       # –∏–∑ –Ω–∏—Ö —á–∞—Å—Ç—å –≤ –Ω–∞—á–∞–ª–µ –∏ –≤ –∫–æ–Ω—Ü–µ
pd.set_option('display.max_columns', None)  # –ø–æ–∫–∞–∑—ã–≤–∞—Ç—å –≤—Å–µ —Å—Ç–æ–ª–±—Ü—ã
pd.set_option('display.width', None)        # –Ω–µ –æ–±—Ä–µ–∑–∞—Ç—å –ø–æ —à–∏—Ä–∏–Ω–µ

# –¢–µ–ø–µ—Ä—å –ø—Ä–∏ –≤—ã–≤–æ–¥–µ df –±—É–¥–µ—Ç –≤–∏–¥–Ω–æ –∏ –Ω–∞—á–∞–ª–æ, –∏ –∫–æ–Ω–µ—Ü —Ç–∞–±–ª–∏—Ü—ã
df_csv

      Gender,Annual Income,Company,Model,Transmission,Color,Price ($)
0            Male,13500,Ford,Expedition,Auto,Black,26000
1            Male,1480000,Dodge,Durango,Auto,Black,19000
2        Male,1035000,Cadillac,Eldorado,Manual,Red,31500
3       Male,13500,Toyota,Celica,Manual,Pale White,14000
4                   Male,1465000,Acura,TL,Auto,Red,24500
...                                                  ...
23901       Male,13500,Plymouth,Voyager,Manual,Red,12000
23902     Female,900000,Chevrolet,Prizm,Auto,Black,16000
23903              Male,705000,BMW,328i,Manual,Red,21000
23904        Male,13500,Chevrolet,Metro,Auto,Black,31000
23905     Male,1225000,Lexus,ES300,Auto,Pale White,27500

[23906 rows x 1 columns]

In [12]:
import pandas as pd

# üîß –ù–∞—Å—Ç—Ä–æ–π–∫–∏ –æ—Ç–æ–±—Ä–∞–∂–µ–Ω–∏—è —Ç–∞–±–ª–∏—Ü
pd.set_option('display.max_rows', 20)        # –º–∞–∫—Å–∏–º—É–º 20 —Å—Ç—Ä–æ–∫ –Ω–∞ —ç–∫—Ä–∞–Ω (10 –≤ –Ω–∞—á–∞–ª–µ, 10 –≤ –∫–æ–Ω—Ü–µ)
pd.set_option('display.min_rows', 10)        # –º–∏–Ω–∏–º—É–º —Å—Ç—Ä–æ–∫, –¥–∞–∂–µ –ø—Ä–∏ –¥–ª–∏–Ω–Ω—ã—Ö —Ç–∞–±–ª–∏—Ü–∞—Ö
pd.set_option('display.max_columns', None)   # –ø–æ–∫–∞–∑—ã–≤–∞—Ç—å –≤—Å–µ —Å—Ç–æ–ª–±—Ü—ã
pd.set_option('display.width', None)         # –Ω–µ –æ–±—Ä–µ–∑–∞—Ç—å –ø–æ —à–∏—Ä–∏–Ω–µ
pd.set_option('display.float_format', '{:.2f}'.format)  # –æ–∫—Ä—É–≥–ª–µ–Ω–∏–µ —á–∏—Å–µ–ª –¥–æ 2 –∑–Ω–∞–∫–æ–≤
pd.set_option('display.colheader_justify', 'center')    # –≤—ã—Ä–∞–≤–Ω–∏–≤–∞–Ω–∏–µ –∑–∞–≥–æ–ª–æ–≤–∫–æ–≤ –ø–æ —Ü–µ–Ω—Ç—Ä—É
pd.set_option('display.expand_frame_repr', False)       # –Ω–µ –ø–µ—Ä–µ–Ω–æ—Å–∏—Ç—å —Ç–∞–±–ª–∏—Ü—É –Ω–∞ –Ω–µ—Å–∫–æ–ª—å–∫–æ —Å—Ç—Ä–æ–∫

print("‚úÖ Pandas display settings applied ‚Äî —Ç–∞–±–ª–∏—Ü—ã —Ç–µ–ø–µ—Ä—å –≤—ã–≥–ª—è–¥—è—Ç –∫—Ä–∞—Å–∏–≤–æ!")

‚úÖ Pandas display settings applied ‚Äî —Ç–∞–±–ª–∏—Ü—ã —Ç–µ–ø–µ—Ä—å –≤—ã–≥–ª—è–¥—è—Ç –∫—Ä–∞—Å–∏–≤–æ!

In [13]:
import pandas as pd

# –ù–∞—Å—Ç—Ä–æ–π–∫–∏ –æ—Ç–æ–±—Ä–∞–∂–µ–Ω–∏—è
pd.set_option('display.max_rows', 20)       # –ø–æ–∫–∞–∑—ã–≤–∞—Ç—å –º–∞–∫—Å–∏–º—É–º 20 —Å—Ç—Ä–æ–∫
pd.set_option('display.min_rows', 10)       # –∏–∑ –Ω–∏—Ö —á–∞—Å—Ç—å –≤ –Ω–∞—á–∞–ª–µ –∏ –≤ –∫–æ–Ω—Ü–µ
pd.set_option('display.max_columns', None)  # –ø–æ–∫–∞–∑—ã–≤–∞—Ç—å –≤—Å–µ —Å—Ç–æ–ª–±—Ü—ã
pd.set_option('display.width', None)        # –Ω–µ –æ–±—Ä–µ–∑–∞—Ç—å –ø–æ —à–∏—Ä–∏–Ω–µ

# –¢–µ–ø–µ—Ä—å –ø—Ä–∏ –≤—ã–≤–æ–¥–µ df –±—É–¥–µ—Ç –≤–∏–¥–Ω–æ –∏ –Ω–∞—á–∞–ª–æ, –∏ –∫–æ–Ω–µ—Ü —Ç–∞–±–ª–∏—Ü—ã
df_csv

      Gender,Annual Income,Company,Model,Transmission,Color,Price ($)
0           Male,13500,Ford,Expedition,Auto,Black,26000
1           Male,1480000,Dodge,Durango,Auto,Black,19000
2       Male,1035000,Cadillac,Eldorado,Manual,Red,31500
3      Male,13500,Toyota,Celica,Manual,Pale White,14000
4                  Male,1465000,Acura,TL,Auto,Red,24500
...                                                  ...
23901      Male,13500,Plymouth,Voyager,Manual,Red,12000
23902    Female,900000,Chevrolet,Prizm,Auto,Black,16000
23903             Male,705000,BMW,328i,Manual,Red,21000
23904       Male,13500,Chevrolet,Metro,Auto,Black,31000
23905    Male,1225000,Lexus,ES300,Auto,Pale White,27500

[23906 rows x 1 columns]

In [14]:
~/.ipython/profile_default/startup/

SyntaxError: invalid syntax (2821388098.py, line 1)

In [15]:
import pandas as pd

# üîß –ù–∞—Å—Ç—Ä–æ–π–∫–∏ –æ—Ç–æ–±—Ä–∞–∂–µ–Ω–∏—è —Ç–∞–±–ª–∏—Ü
pd.set_option('display.max_rows', 20)        # –º–∞–∫—Å–∏–º—É–º 20 —Å—Ç—Ä–æ–∫ –Ω–∞ —ç–∫—Ä–∞–Ω (10 –≤ –Ω–∞—á–∞–ª–µ, 10 –≤ –∫–æ–Ω—Ü–µ)
pd.set_option('display.min_rows', 10)        # –º–∏–Ω–∏–º—É–º —Å—Ç—Ä–æ–∫, –¥–∞–∂–µ –ø—Ä–∏ –¥–ª–∏–Ω–Ω—ã—Ö —Ç–∞–±–ª–∏—Ü–∞—Ö
pd.set_option('display.max_columns', None)   # –ø–æ–∫–∞–∑—ã–≤–∞—Ç—å –≤—Å–µ —Å—Ç–æ–ª–±—Ü—ã
pd.set_option('display.width', None)         # –Ω–µ –æ–±—Ä–µ–∑–∞—Ç—å –ø–æ —à–∏—Ä–∏–Ω–µ
pd.set_option('display.float_format', '{:.2f}'.format)  # –æ–∫—Ä—É–≥–ª–µ–Ω–∏–µ —á–∏—Å–µ–ª –¥–æ 2 –∑–Ω–∞–∫–æ–≤
pd.set_option('display.colheader_justify', 'center')    # –≤—ã—Ä–∞–≤–Ω–∏–≤–∞–Ω–∏–µ –∑–∞–≥–æ–ª–æ–≤–∫–æ–≤ –ø–æ —Ü–µ–Ω—Ç—Ä—É
pd.set_option('display.expand_frame_repr', False)       # –Ω–µ –ø–µ—Ä–µ–Ω–æ—Å–∏—Ç—å —Ç–∞–±–ª–∏—Ü—É –Ω–∞ –Ω–µ—Å–∫–æ–ª—å–∫–æ —Å—Ç—Ä–æ–∫

print("‚úÖ Pandas display settings applied ‚Äî —Ç–∞–±–ª–∏—Ü—ã —Ç–µ–ø–µ—Ä—å –≤—ã–≥–ª—è–¥—è—Ç –∫—Ä–∞—Å–∏–≤–æ!")

‚úÖ Pandas display settings applied ‚Äî —Ç–∞–±–ª–∏—Ü—ã —Ç–µ–ø–µ—Ä—å –≤—ã–≥–ª—è–¥—è—Ç –∫—Ä–∞—Å–∏–≤–æ!

In [16]:
import pandas as pd

# –ù–∞—Å—Ç—Ä–æ–π–∫–∏ –æ—Ç–æ–±—Ä–∞–∂–µ–Ω–∏—è
pd.set_option('display.max_rows', 20)       # –ø–æ–∫–∞–∑—ã–≤–∞—Ç—å –º–∞–∫—Å–∏–º—É–º 20 —Å—Ç—Ä–æ–∫
pd.set_option('display.min_rows', 10)       # –∏–∑ –Ω–∏—Ö —á–∞—Å—Ç—å –≤ –Ω–∞—á–∞–ª–µ –∏ –≤ –∫–æ–Ω—Ü–µ
pd.set_option('display.max_columns', None)  # –ø–æ–∫–∞–∑—ã–≤–∞—Ç—å –≤—Å–µ —Å—Ç–æ–ª–±—Ü—ã
pd.set_option('display.width', None)        # –Ω–µ –æ–±—Ä–µ–∑–∞—Ç—å –ø–æ —à–∏—Ä–∏–Ω–µ

# –¢–µ–ø–µ—Ä—å –ø—Ä–∏ –≤—ã–≤–æ–¥–µ df –±—É–¥–µ—Ç –≤–∏–¥–Ω–æ –∏ –Ω–∞—á–∞–ª–æ, –∏ –∫–æ–Ω–µ—Ü —Ç–∞–±–ª–∏—Ü—ã
df_csv

      Gender,Annual Income,Company,Model,Transmission,Color,Price ($)
0           Male,13500,Ford,Expedition,Auto,Black,26000
1           Male,1480000,Dodge,Durango,Auto,Black,19000
2       Male,1035000,Cadillac,Eldorado,Manual,Red,31500
3      Male,13500,Toyota,Celica,Manual,Pale White,14000
4                  Male,1465000,Acura,TL,Auto,Red,24500
...                                                  ...
23901      Male,13500,Plymouth,Voyager,Manual,Red,12000
23902    Female,900000,Chevrolet,Prizm,Auto,Black,16000
23903             Male,705000,BMW,328i,Manual,Red,21000
23904       Male,13500,Chevrolet,Metro,Auto,Black,31000
23905    Male,1225000,Lexus,ES300,Auto,Pale White,27500

[23906 rows x 1 columns]

In [17]:
import pandas as pd

df_csv = pd.read_csv("car_sales_cleaned1.csv", sep=';', engine='python')
df_csv.head()

  Gender,Annual Income,Company,Model,Transmission,Color,Price ($)
0       Male,13500,Ford,Expedition,Auto,Black,26000
1       Male,1480000,Dodge,Durango,Auto,Black,19000
2   Male,1035000,Cadillac,Eldorado,Manual,Red,31500
3  Male,13500,Toyota,Celica,Manual,Pale White,14000
4              Male,1465000,Acura,TL,Auto,Red,24500

In [18]:
df_csv = pd.read_csv("car_sales_cleaned1.csv", sep=',', engine='python')
df_csv.head()

  Gender,Annual Income,Company,Model,Transmission,Color,Price ($)
0       Male,13500,Ford,Expedition,Auto,Black,26000
1       Male,1480000,Dodge,Durango,Auto,Black,19000
2   Male,1035000,Cadillac,Eldorado,Manual,Red,31500
3  Male,13500,Toyota,Celica,Manual,Pale White,14000
4              Male,1465000,Acura,TL,Auto,Red,24500

In [19]:
df_csv = pd.read_csv("car_sales_cleaned1.csv", sep='\t', engine='python')
df_csv.head()

  Gender,Annual Income,Company,Model,Transmission,Color,Price ($)
0       Male,13500,Ford,Expedition,Auto,Black,26000
1       Male,1480000,Dodge,Durango,Auto,Black,19000
2   Male,1035000,Cadillac,Eldorado,Manual,Red,31500
3  Male,13500,Toyota,Celica,Manual,Pale White,14000
4              Male,1465000,Acura,TL,Auto,Red,24500

In [20]:
import pandas as pd

# 1) Excel ‚Üí CSV (—á–∞—Å—Ç–æ ; –∏ UTF-8 —Å BOM)
df = pd.read_csv("car_sales_cleaned1.csv", sep=';', encoding='utf-8-sig')
df.head()

  Gender,Annual Income,Company,Model,Transmission,Color,Price ($)
0       Male,13500,Ford,Expedition,Auto,Black,26000
1       Male,1480000,Dodge,Durango,Auto,Black,19000
2   Male,1035000,Cadillac,Eldorado,Manual,Red,31500
3  Male,13500,Toyota,Celica,Manual,Pale White,14000
4              Male,1465000,Acura,TL,Auto,Red,24500

In [21]:
import pandas as pd

# 1) Excel ‚Üí CSV (—á–∞—Å—Ç–æ ; –∏ UTF-8 —Å BOM)
df = pd.read_csv("car_sales_cleaned1.csv", sep=';', encoding='utf-8-sig')
df.head()

  Gender,Annual Income,Company,Model,Transmission,Color,Price ($)
0       Male,13500,Ford,Expedition,Auto,Black,26000
1       Male,1480000,Dodge,Durango,Auto,Black,19000
2   Male,1035000,Cadillac,Eldorado,Manual,Red,31500
3  Male,13500,Toyota,Celica,Manual,Pale White,14000
4              Male,1465000,Acura,TL,Auto,Red,24500

In [22]:
# 2) Excel —Å–æ—Ö—Ä–∞–Ω–∏–ª –≤ Windows-1251
df = pd.read_csv("car_sales_cleaned1.csv", sep=';', encoding='cp1251')
df.head()

  Gender,Annual Income,Company,Model,Transmission,Color,Price ($)
0       Male,13500,Ford,Expedition,Auto,Black,26000
1       Male,1480000,Dodge,Durango,Auto,Black,19000
2   Male,1035000,Cadillac,Eldorado,Manual,Red,31500
3  Male,13500,Toyota,Celica,Manual,Pale White,14000
4              Male,1465000,Acura,TL,Auto,Red,24500

In [23]:
df = pd.read_csv("car_sales_cleaned1.csv", sep=';', encoding='utf-8-sig', decimal=',', thousands='.')
df.head()

  Gender,Annual Income,Company,Model,Transmission,Color,Price ($)
0       Male,13500,Ford,Expedition,Auto,Black,26000
1       Male,1480000,Dodge,Durango,Auto,Black,19000
2   Male,1035000,Cadillac,Eldorado,Manual,Red,31500
3  Male,13500,Toyota,Celica,Manual,Pale White,14000
4              Male,1465000,Acura,TL,Auto,Red,24500

In [24]:
import pandas as pd, csv

path = "car_sales_cleaned1.csv"
encodings = ["utf-8-sig", "utf-8", "cp1251", "latin1"]
seps = [",", ";", "\t", "|"]

best = None
for enc in encodings:
    for sep in seps:
        try:
            df_try = pd.read_csv(path, sep=sep, encoding=enc, nrows=500)
            # –µ—Å–ª–∏ —Ä–µ–∞–ª—å–Ω–æ –Ω–µ—Å–∫–æ–ª—å–∫–æ –∫–æ–ª–æ–Ω–æ–∫ ‚Äî —Å—á–∏—Ç–∞–µ–º, —á—Ç–æ –Ω–∞—à–ª–∏
            if df_try.shape[1] > 1:
                best = (enc, sep)
                break
        except Exception:
            pass
    if best:
        break

if best:
    enc, sep = best
    # –ø–æ–≤—Ç–æ—Ä–Ω–æ —á–∏—Ç–∞–µ–º –≤–µ—Å—å —Ñ–∞–π–ª –∏ —É—á–∏—Ç—ã–≤–∞–µ–º –≤–æ–∑–º–æ–∂–Ω—É—é –∑–∞–ø—è—Ç—É—é –∫–∞–∫ –¥–µ—Å—è—Ç–∏—á–Ω—ã–π —Ä–∞–∑–¥–µ–ª–∏—Ç–µ–ª—å
    try:
        df = pd.read_csv(path, sep=sep, encoding=enc, decimal=",", thousands=".")
    except Exception:
        df = pd.read_csv(path, sep=sep, encoding=enc)
    print(f"‚úÖ OK: encoding={enc}, sep={repr(sep)}, shape={df.shape}")
    display(df.head())
    display(df.tail())
else:
    print("‚ùå –ù–µ —É–¥–∞–ª–æ—Å—å –∞–≤—Ç–æ–º–∞—Ç–∏—á–µ—Å–∫–∏ —Ä–∞—Å–ø–∞—Ä—Å–∏—Ç—å. –ü–æ–ø—Ä–æ–±—É–π –ø–µ—Ä–µ—Å–æ—Ö—Ä–∞–Ω–∏—Ç—å —Ñ–∞–π–ª –∫–∞–∫ 'CSV UTF-8 (Comma delimited)'.")

‚ùå –ù–µ —É–¥–∞–ª–æ—Å—å –∞–≤—Ç–æ–º–∞—Ç–∏—á–µ—Å–∫–∏ —Ä–∞—Å–ø–∞—Ä—Å–∏—Ç—å. –ü–æ–ø—Ä–æ–±—É–π –ø–µ—Ä–µ—Å–æ—Ö—Ä–∞–Ω–∏—Ç—å —Ñ–∞–π–ª –∫–∞–∫ 'CSV UTF-8 (Comma delimited)'.

In [26]:
# 2) Excel —Å–æ—Ö—Ä–∞–Ω–∏–ª –≤ Windows-1251
df = pd.read_csv("car_sales_cleaned1.csv", sep=';', encoding='cp1251')
df

      –ø¬ª—ó"Gender,Annual Income,Company,Model,Transmission,Color,Price ($)"
0           Male,13500,Ford,Expedition,Auto,Black,26000
1           Male,1480000,Dodge,Durango,Auto,Black,19000
2       Male,1035000,Cadillac,Eldorado,Manual,Red,31500
3      Male,13500,Toyota,Celica,Manual,Pale White,14000
4                  Male,1465000,Acura,TL,Auto,Red,24500
...                                                  ...
23901      Male,13500,Plymouth,Voyager,Manual,Red,12000
23902    Female,900000,Chevrolet,Prizm,Auto,Black,16000
23903             Male,705000,BMW,328i,Manual,Red,21000
23904       Male,13500,Chevrolet,Metro,Auto,Black,31000
23905    Male,1225000,Lexus,ES300,Auto,Pale White,27500

[23906 rows x 1 columns]

In [29]:
import panda as pd
df = pd.read_csv(' car_sales_cleaned1.csv')
df.describe()

ModuleNotFoundError: No module named 'panda'

In [30]:
import pandas as pd
df = pd.read_csv(' car_sales_cleaned1.csv')
df.describe()

FileNotFoundError: [Errno 2] No such file or directory: ' car_sales_cleaned1.csv'

In [31]:
import panda as pd
df = pd.read_csv('car_sales_cleaned1.csv')
df.describe()

ModuleNotFoundError: No module named 'panda'

In [32]:
import pandas as pd
df = pd.read_csv('car_sales_cleaned1.csv')
df.describe()

       Gender,Annual Income,Company,Model,Transmission,Color,Price ($)
count                                               23906
unique                                              20358
top     Male,13500,Oldsmobile,Silhouette,Auto,Black,60000
freq                                                   21

In [33]:
df = df.drop_duplicates

In [34]:
df = df.drop_duplicates()

AttributeError: 'function' object has no attribute 'drop_duplicates'

In [35]:
import pandas as pd
df = pd.read_csv("car_sales_cleaned1.csv")

In [36]:
df = df.drop_duplicates()

In [37]:
df.shape

(20358, 1)

In [38]:
df.describe()

       Gender,Annual Income,Company,Model,Transmission,Color,Price ($)
count                                            20358
unique                                           20358
top        Male,13500,Ford,Expedition,Auto,Black,26000
freq                                                 1

In [39]:
df = df.dropna()

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
import joblib  # –¥–ª—è —Å–æ—Ö—Ä–∞–Ω–µ–Ω–∏—è –º–æ–¥–µ–ª–∏

In [2]:
df = pd.read_csv("car_sales_cleaned1.csv")  # –∏–ª–∏ —Å–≤–æ–π .csv

In [3]:
X = df[["Gender", "Color"]]
y = df["Model"]

le = LabelEncoder()
X["Gender"] = le.fit_transform(X["Gender"])
X["Color"]  = le.fit_transform(X["Color"])
y = le.fit_transform(y)

KeyError: "None of [Index(['Gender', 'Color'], dtype='object')] are in the [columns]"

In [4]:
# === –ü–æ–¥–≥–æ—Ç–æ–≤–∫–∞ X –∏ y ===
X = df[["Gender", "Color"]].copy()
y = df["Model"].copy()

from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
X["Gender"] = le.fit_transform(X["Gender"])
X["Color"]  = le.fit_transform(X["Color"])
y = le.fit_transform(y)

KeyError: "None of [Index(['Gender', 'Color'], dtype='object')] are in the [columns]"

In [5]:
valuesCol = df['Model'].unique()
valuesCol

KeyError: 'Model'

In [6]:
print(df.columns.tolist())

['Gender,Annual Income,Company,Model,Transmission,Color,Price ($)']

In [7]:
df = pd.read_csv("car_sales_cleaned1.csv", sep=",")

In [8]:
print(df.columns.tolist())

['Gender,Annual Income,Company,Model,Transmission,Color,Price ($)']

In [9]:
df = pd.read_csv("car_sales_cleaned1.csv", sep=",")

In [10]:
df = pd.read_csv("car_sales_cleaned1.csv", sep=";")

In [11]:
print(df.columns.tolist())
print(df.head())

['Gender,Annual Income,Company,Model,Transmission,Color,Price ($)']
  Gender,Annual Income,Company,Model,Transmission,Color,Price ($)
0        Male,13500,Ford,Expedition,Auto,Black,26000
1        Male,1480000,Dodge,Durango,Auto,Black,19000
2    Male,1035000,Cadillac,Eldorado,Manual,Red,31500
3   Male,13500,Toyota,Celica,Manual,Pale White,14000
4               Male,1465000,Acura,TL,Auto,Red,24500

In [12]:
df = pd.read_csv("car_sales_cleaned1.csv", sep=None, engine="python")

In [13]:
df = pd.read_csv("car_sales_cleaned1.csv", sep=None, engine="python")

In [14]:
with open("car_sales_cleaned1.csv", "r", encoding="utf-8") as f:
    for i in range(3):
        print(f.readline())

Ôªø"Gender,Annual Income,Company,Model,Transmission,Color,Price ($)"

"Male,13500,Ford,Expedition,Auto,Black,26000"

"Male,1480000,Dodge,Durango,Auto,Black,19000"

In [15]:
df = pd.read_csv("car_sales_cleaned1.csv", sep=",", quotechar='"')

In [16]:
print(df.columns.tolist())
print(df.head())

['Gender,Annual Income,Company,Model,Transmission,Color,Price ($)']
  Gender,Annual Income,Company,Model,Transmission,Color,Price ($)
0        Male,13500,Ford,Expedition,Auto,Black,26000
1        Male,1480000,Dodge,Durango,Auto,Black,19000
2    Male,1035000,Cadillac,Eldorado,Manual,Red,31500
3   Male,13500,Toyota,Celica,Manual,Pale White,14000
4               Male,1465000,Acura,TL,Auto,Red,24500

In [17]:
df = pd.read_csv(
    "car_sales_cleaned1.csv",
    sep=",",          # –∑–∞–ø—è—Ç–∞—è ‚Äî —Ä–∞–∑–¥–µ–ª–∏—Ç–µ–ª—å
    quotechar='"',    # –∏–≥–Ω–æ—Ä–∏—Ä—É–µ–º –∫–∞–≤—ã—á–∫–∏
    engine="python",  # –≥–∏–±–∫–∏–π –ø–∞—Ä—Å–µ—Ä
    encoding="utf-8-sig"  # —É–±–∏—Ä–∞–µ—Ç —Å–∫—Ä—ã—Ç—ã–π BOM
)

In [18]:
print(df.columns.tolist())
print(df.head())

['Gender,Annual Income,Company,Model,Transmission,Color,Price ($)']
  Gender,Annual Income,Company,Model,Transmission,Color,Price ($)
0        Male,13500,Ford,Expedition,Auto,Black,26000
1        Male,1480000,Dodge,Durango,Auto,Black,19000
2    Male,1035000,Cadillac,Eldorado,Manual,Red,31500
3   Male,13500,Toyota,Celica,Manual,Pale White,14000
4               Male,1465000,Acura,TL,Auto,Red,24500

In [19]:
df_raw = pd.read_csv("car_sales_cleaned1.csv", header=None, encoding="utf-8")

In [20]:
df = df_raw[0].str.replace('"', '').str.split(",", expand=True)

In [21]:
df.columns = ['Gender', 'Annual Income', 'Company', 'Model', 'Transmission', 'Color', 'Price ($)']

In [22]:
print(df.head())
print(df.columns.tolist())

   Gender  Annual Income   Company       Model  Transmission       Color  \
0  Gender  Annual Income   Company       Model  Transmission       Color
1    Male          13500      Ford  Expedition          Auto       Black
2    Male        1480000     Dodge     Durango          Auto       Black
3    Male        1035000  Cadillac    Eldorado        Manual         Red
4    Male          13500    Toyota      Celica        Manual  Pale White

   Price ($)
0  Price ($)
1      26000
2      19000
3      31500
4      14000
['Gender', 'Annual Income', 'Company', 'Model', 'Transmission', 'Color', 'Price ($)']

In [23]:
import pandas as pd
df = pd.read_csv(' car_sales_cleaned1.csv')
df.describe()

FileNotFoundError: [Errno 2] No such file or directory: ' car_sales_cleaned1.csv'

In [24]:
valuesCol = df['Model'].unique()
valuesCol

array(['Model', 'Expedition', 'Durango', 'Eldorado', 'Celica', 'TL',
       'Diamante', 'Corolla', 'Galant', 'Malibu', 'Escort', 'RL',
       'Pathfinder', 'Grand Marquis', '323i', 'Sebring Coupe', 'Forester',
       'Accent', 'Land Cruiser', 'Accord', '4Runner', 'I30', 'A4',
       'Carrera Cabrio', 'Jetta', 'Viper', 'Regal', 'LHS', 'LW', '3000GT',
       'SLK230', 'Civic', 'S-Type', 'S40', 'Mountaineer', 'Park Avenue',
       'Montero Sport', 'Sentra', 'S80', 'Lumina', 'Bonneville',
       'C-Class', 'Altima', 'DeVille', 'Stratus', 'Cougar', 'SW', 'C70',
       'SLK', 'Tacoma', 'M-Class', 'A6', 'Intrepid', 'Sienna', 'Eclipse',
       'Contour', 'Town car', 'Focus', 'Mustang', 'Cutlass', 'Corvette',
       'Impala', 'Cabrio', 'Dakota', '300M', '328i', 'Bravada', 'Maxima',
       'Ram Pickup', 'Concorde', 'V70', 'Quest', 'ES300', 'SL-Class',
       'Explorer', 'Prizm', 'Camaro', 'Outback', 'Taurus', 'Cavalier',
       'GS400', 'Monte Carlo', 'Sonata', 'Sable', 'Metro', 'Voyager',
       'Cirrus', 'Avenger', 'Odyssey', 'Intrigue', 'Silhouette', '5-Sep',
       '528i', 'LS400', 'Aurora', 'Breeze', 'Beetle', 'Elantra',
       'Continental', 'RAV4', 'Villager', 'S70', 'LS', 'Ram Van',
       'S-Class', 'E-Class', 'Grand Am', 'SC', 'Passat', 'Xterra',
       'Frontier', 'Crown Victoria', 'Camry', 'Navigator', 'CL500',
       'Escalade', 'Golf', 'Ranger', 'Prowler', 'Windstar', 'GTI',
       'Passport', 'Boxter', 'LX470', 'CR-V', 'Sunfire', 'Caravan',
       'Ram Wagon', 'Neon', 'Wrangler', 'Integra', 'Grand Prix',
       'Grand Cherokee', 'F-Series', 'A8', 'Mystique', '3-Sep',
       'Cherokee', 'Carrera Coupe', 'Catera', 'Seville', 'CLK Coupe',
       'LeSabre', 'Sebring Conv.', 'GS300', 'Firebird', 'V40', 'Montero',
       'Town & Country', 'SL', 'Alero', 'Mirage', 'Century', 'RX300',
       'Avalon'], dtype=object)

In [25]:
import pandas as pd

# –ó–∞–≥—Ä—É–∂–∞–µ–º –∫–∞–∫ —Ç–µ–∫—Å—Ç –∏ —á–∏—Å—Ç–∏–º –∫–∞–≤—ã—á–∫–∏
df_raw = pd.read_csv("car_sales_cleaned1.csv", header=None, encoding="utf-8")

# –†–∞–∑–±–∏–≤–∞–µ–º —Å—Ç—Ä–æ–∫—É –Ω–∞ –∫–æ–ª–æ–Ω–∫–∏
df = df_raw[0].str.replace('"', '').str.split(",", expand=True)

# –ó–∞–¥–∞—ë–º –∏–º–µ–Ω–∞ –∫–æ–ª–æ–Ω–æ–∫
df.columns = ['Gender', 'Annual Income', 'Company', 'Model', 'Transmission', 'Color', 'Price ($)']

# –°–æ—Ö—Ä–∞–Ω—è–µ–º —á–∏—Å—Ç—É—é –≤–µ—Ä—Å–∏—é
df.to_csv("clean_cars.csv", index=False, encoding="utf-8")
print("‚úÖ –§–∞–π–ª —Å–æ—Ö—Ä–∞–Ω—ë–Ω –∫–∞–∫ clean_cars.csv")

‚úÖ –§–∞–π–ª —Å–æ—Ö—Ä–∞–Ω—ë–Ω –∫–∞–∫ clean_cars.csv

In [26]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
import joblib

# –ü–æ–¥–≥–æ—Ç–æ–≤–∫–∞ –ø—Ä–∏–∑–Ω–∞–∫–æ–≤ –∏ —Ü–µ–ª–∏
X = df[["Gender", "Color"]].copy()
y = df["Model"].copy()

le = LabelEncoder()
for col in X.columns:
    X[col] = le.fit_transform(X[col])
y = le.fit_transform(y)

# –î–µ–ª–∏–º –Ω–∞ train/test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# –û–±—É—á–∞–µ–º
model = RandomForestClassifier(random_state=42)
model.fit(X_train, y_train)

# –ü—Ä–æ–≤–µ—Ä—è–µ–º —Ç–æ—á–Ω–æ—Å—Ç—å
y_pred = model.predict(X_test)
acc = accuracy_score(y_test, y_pred)
print(f"üéØ Accuracy: {acc:.3f}")

# –°–æ—Ö—Ä–∞–Ω—è–µ–º –º–æ–¥–µ–ª—å
joblib.dump(model, "car_model_predictor.pkl")
print("üíæ –ú–æ–¥–µ–ª—å —Å–æ—Ö—Ä–∞–Ω–µ–Ω–∞ –∫–∞–∫ car_model_predictor.pkl")

üéØ Accuracy: 0.025
üíæ –ú–æ–¥–µ–ª—å —Å–æ—Ö—Ä–∞–Ω–µ–Ω–∞ –∫–∞–∫ car_model_predictor.pkl

In [27]:
# –¢–æ–ª—å–∫–æ Hyundai
df_hyundai = df[df["Company"] == "Hyundai"]
print("Hyundai sample:")
print(df_hyundai.head())

# –¢–æ–ª—å–∫–æ Toyota —Å —Ü–µ–Ω–æ–π > 40000
df_toyota = df[(df["Company"] == "Toyota") & (df["Price ($)"].astype(float) > 40000)]
print("\nToyota > 40000 sample:")
print(df_toyota.head())

# –¢–æ–ø-3 –º–æ–¥–µ–ª–∏
top3 = df["Model"].value_counts().head(3)
print("\nüî• Top-3 car models:")
print(top3)

Hyundai sample:
     Gender Annual Income  Company    Model Transmission       Color Price ($)
17   Female        535000  Hyundai   Accent       Manual       Black     18000
125  Female       1690000  Hyundai   Sonata       Manual       Black     15000
169    Male        955000  Hyundai  Elantra       Manual  Pale White     26000
251    Male        457000  Hyundai   Sonata       Manual  Pale White     21000
290    Male         13500  Hyundai   Sonata       Manual       Black     20000

ValueError: could not convert string to float: 'Price ($)'

In [28]:
# –£–±–∏—Ä–∞–µ–º –∑–∞–≥–æ–ª–æ–≤–æ–∫, –ø—Ä–æ–±–µ–ª—ã, —Å–∏–º–≤–æ–ª—ã $, –∑–∞–ø—è—Ç—ã–µ
df["Price ($)"] = (
    df["Price ($)"]
    .str.replace("Price ($)", "", regex=False)
    .str.replace("$", "", regex=False)
    .str.replace(",", "", regex=False)
    .str.strip()
)

# –ü—Ä–µ–æ–±—Ä–∞–∑—É–µ–º –≤ float, –Ω–µ—á–∏—Å–ª–æ–≤—ã–µ ‚Äî –≤ NaN
df["Price ($)"] = pd.to_numeric(df["Price ($)"], errors="coerce")

In [29]:
df_toyota = df[(df["Company"] == "Toyota") & (df["Price ($)"] > 40000)]
print(df_toyota.head())

     Gender Annual Income Company    Model Transmission       Color  Price ($)
240    Male       1350000  Toyota   Tacoma         Auto  Pale White    53000.0
259    Male       1151000  Toyota  Corolla         Auto  Pale White    41100.0
270  Female        825000  Toyota   Tacoma       Manual  Pale White    82000.0
309  Female         13500  Toyota  Corolla         Auto  Pale White    41000.0
359    Male       1326000  Toyota     RAV4       Manual       Black    85600.0

In [30]:
df_toyota.to_csv("toyota_filtered.csv", index=False)

In [31]:
import joblib
joblib.dump(model, "car_model_predictor.pkl")

['car_model_predictor.pkl']